.error {
    position: relative;
}

    .error::after {
        content: "X";
        position: absolute;
        top: 0;
        left: 90%;
        background-color: red;
        color: white;
        font-size: 1em;
        text-align: center;
        line-height: 25px;
        display: inline-block;
        width: 25px;
        height: 25px;
    }
.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
}

.thumbnail-description {
    min-height: 40px;
}

.thumbnail:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.gray {
    background: #bdbdbd;
}
.color {
    color: rgba(0, 0, 0, 1);
}
.colorn {
    color: rgba(0, 0, 0, 1);
}
.yellow {
    background: #ffffa2;
}
 
